@mixin clearfix {
  // Clear the floats
  &::after {
    content: "";
    display: table;
    // Clear both float left and float right
    clear: both;
  }
}


@mixin text-linear-gradient {
    // Make the text a nice linear image
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: none;
    color: transparent;
}
