body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1.6rem; */
  color: $color-gray-dark;
  line-height: 1.7;

  /* No inheritance */
  padding: 3rem;
}

.heading-primary {
  color: $color-gray-white;
  text-transform: uppercase;
  margin-bottom: 6rem;

  /* Removes the shakiness of the animation */
  backface-visibility: hidden;


  /*
  * Block elements:
  *   - Occupy the entire width that are available to them
  *   - Create line breaks before and after them
  */
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */
  }


  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-in;
  }
}
