@include clearfix;

.row {
  // Use max-width so that if the viewport is smaller than 114rem (1140px),
  // then the row will fill 100% of the available space
  max-width: $grid-width;

  background-color: #eee;
  margin: 0 auto; // center a block element inside another element

  &:not(:last-child) {
    margin-bottom: $grid-gutter-horizontal;
  }

  // Attribute selector
  // `^` allows us to select only the strings that start with col-
  [class ^= "col-"]


  .col-1-of-2 {
    // Can mix units in native calc function
    // To use a SCSS var in native CSS, use `#{}`
    width: calc((100% - #{$grid-gutter-horizontal}) / 2.0);
    background-color: orangered;
    // Always float to the left for Grid elements
    float: left;
    
    &:not(:last-child) {
      margin-right: $grid-gutter-horizontal;
    }
  }


  .col-1-of-3 {
    width: calc((100% - 2 * #{$grid-gutter-horizontal}) / 3);
  }
}
