.story {
  font-size: $default-font-size;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .6);
  border-radius: $default-box-radius;
  padding: 6rem;
  padding-left: 6rem + 3rem;
  transform: skewX(-#{$skewed-deg-medium}deg);

  & > * {
    transform: skewX(#{$skewed-deg-medium}deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;

    shape-outside: $circle-shape-default;
    -webkit-shape-outside: $circle-shape-default;

    clip-path: $circle-shape-default;
    -webkit-clip-path: $circle-shape-default;

    // Move the shape to the left a bit to give it some space from the text
    transform: translateX(-3rem) skewX(#{$skewed-deg-medium}deg);

    position: relative;
  }

  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s;
  }

  &__caption {
    @include center-block-elem;

    position: absolute;
    color: $color-white;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__image {
    transform: translateX(-3rem) scale(1.0);
    backface-visibility: hidden;
    filter: blur(.3rem) brightness(80%);
  }
}
